In [4]:
print ("*"*5)

*****

In [5]:
star_list = [["*"*5]*4]

In [7]:
star_list

[['*****', '*****', '*****', '*****']]

In [9]:
for i in star_list:
    for star in i:
        print star

*****
*****
*****
*****

In [14]:
for i in range(1,6):
    print '*'*i

*
**
***
****
*****

In [19]:
for i in range(5,0,-1):
    print '*'*i

*****
****
***
**
*

In [21]:
for i in range(4,-1, -1):
    print ' '*i + '*'*(5-i)

    *
   **
  ***
 ****
*****

In [23]:
for i in range(0,6):
    print ' '*(5-i) + '*'*i

    *
   **
  ***
 ****
*****

In [27]:
star_array = ['*'* x  for x in range(1,10) if x % 2 == 1]

for i in range(4,-1, -1):
    print i * ' ' + star_array[4-i]

    *
   ***
  *****
 *******
*********

In [30]:
star_array = [x*'*' for x in range(1,10) if x% 2 == 1]

In [31]:
for i in range(4, -1, -1):
    print (4-i)*' ' + star_array[i]

*********
 *******
  *****
   ***
    *

In [32]:
apart = [[101, 102, 103, 104],[201, 202, 203, 204],[301, 302, 303, 304], [401, 402, 403, 404]]

In [36]:
arrears = [101,203,301,404]
for subs in apart:
    for sub in subs:
        if sub not in arrears:
            print sub

102
103
104
201
202
204
302
303
304
401
402
403

In [60]:
for floor in apart:
    for house in floor:
        if house in arrears:
            continue
        else:
            print"Newspaper delivery: ", house

Newspaper delivery:  102
Newspaper delivery:  103
Newspaper delivery:  104
Newspaper delivery:  201
Newspaper delivery:  202
Newspaper delivery:  204
Newspaper delivery:  302
Newspaper delivery:  303
Newspaper delivery:  304
Newspaper delivery:  401
Newspaper delivery:  402
Newspaper delivery:  403

In [74]:
for j in range(5):
    print'*',

* * * * *

In [75]:
for i in range(4):
    for j in range(5):
        print '*',
    print ''

* * * * *
* * * * *
* * * * *
* * * * *

In [76]:
for j in range(5):
    for i in range(j+1):
        print '*',
    print ''

*
* *
* * *
* * * *
* * * * *

In [77]:
for j in range(5):
    for i in range(4-j):
        print ' ',
    for i in range(j+1):
        print '*',
    print ''

        *
      * *
    * * *
  * * * *
* * * * *

In [78]:
 for j in range(5):
        for i in range(4-j):
                print ' ',
        for i in range(2*(j+1)-1):
                print '*',
        print("")

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [82]:
for j in range(5):
        for i in range(j):
                print ' ',
        for i in range(2*(5-j)-1):
                print '*',
        print ""

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *